@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");
:root {
  --color-light: white;
  --box-shadow-one: 0 0 5px rgb(225, 207, 207);
}
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background-color: white;
  font-family: "Roboto", sans-serif, "Poppins", sans-serif;
}
.first-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  background-color: white;
}
img {
  border: 5px solid white;
  width: 800px;
  height: 200px;
}
.switch-lang {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  color: dodgerblue;
  font-size: 20px;
  cursor: pointer;
  width: 150px;
  height: 70px;
}
.eng-first {
  /* color: rgb(13, 14, 16); */
  color:dodgerblue;
}
.switch-lang-item :hover {
  color: dodgerblue;
}
.switch-lang-item-active{
  color: black;

}
a {
  text-decoration: none;
}
.eng {
  border: 2px solid white;
  padding: 7px 20px;
}
.top-page {
  display: flex;
 align-items: center; 
  background-color: #396b8c;
  /* padding: 20px; */
}
/* container-width */
.container-width, .p1 {
  max-width:80%;
  margin:auto; 
}
.navecation {
  display: flex; 
  padding: 1rem;
  width: 100%;
  
}
.drop-down>li{
  list-style-type:none ;
  height:100%; 
   /* padding:1rem 0;   */
   /* margin: 2rem ; */
  /* font-weight: 60dag;  */
  cursor: pointer;
  text-decoration: none;
}
.drop-down{
  position:absolute;
  /* padding: 0.5rem 1.5rem;
  margin: 0.5rem 0.5rem; */
   background-color:white; 
  color:black;
  border: 1px solid gray;
  /* border-radius: 20px; */
  width:15%;
  /* z-index:5; */
  transition: all 0.5 ease;
  box-shadow: 0.5rem;
  display:none;  
}

.alink{
 display: flex;
 align-items: center;
 justify-content:start; 
 padding-top: 10px; 
} 
.drop-down li .alink{
  transition: .5s all ease-in-out;
  color: black;
}

.alink:hover{
  position: relative;
  left: 10px;
  color: #00b2ff;
}
.new-alink{
  display: block;
   right:-70px;  
  /* margin: 2rem auto; */
  width:100%;
  border: 2px solid white;
  padding:  0 1rem;
  /* /* padding-top:0.5rem;  */
}
/* .new-alink>a{
  display:flex; 
  justify-content: center;
  align-items: center;
  
}  */
.new-alink:hover>a{
   position: relative;
   left: 10px;
   color: #00b2ff;
} 
.block-alink{
  position: relative;
 border: 2px solid white; 
 padding-bottom: 1rem ; 
 
}
 .drop-link{
   /* padding:2rem 0; */
  /* margin:1rem 0; */
  color: black;
  width: 100%;
  border: 2px solid green;
   /* padding:2rem; */
  /* background-color: blue; */
  /* padding-bottom: 10px; */
}
/*  */
.drop-link:hover{
  /* color:red; */
  /* left: 20px ; */
  color: #00b2ff;
  /* transition: all .5 ease; */
} 
.nav-link:hover.a-link{
  /* background-color: black; */
  color: #00b2ff;
  /* border-radius: 0.5rem; */
  /* padding: 2rem 0; */
  /* transition: all 0.5 ease; */

}
.services:hover .drop-down{
  display:block;
   color: #00b2ff;
} 
.nav-link .active:hover{
  color: #00b2ff;
}
.drop-down:hover{
  display:block;
   color: #00b2ff;
} 
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
   /* color: var(--color-light) ; */
}
a,
p,
li,
span {
  font-size: 1.5rem;
}
h2,
h3,
h3,
h4,
h5 {
  font-size: 2rem;
}
/* navecationbar/ */
 .nav-list {
  list-style-type: none;
   margin: 1rem auto;  
     /* gap:2rem;  */
  /* transition: all 1s; */
   display: flex;
  gap: 1rem; 
 }   
 .nav-link>a{ 
   display:flex; 
   padding:0.5rem; 
  color:white;
  /* gap:2rem; */
}
.a-link{
  display:flex;
  align-items: center;
  /* color:white; */
  padding: 0 0.5rem;
}
.nav-link > a:hover {
  color:#00b2ff;
  /* background-color: aqua; */
  /* border: 1px solid lightslategray; */
 /* border-radius: 20px; */
  outline: none;
  /* padding: 0.5rem 0.5rem; */
} 
/* input */
.container {
  display: flex;
  align-items: center;
  /* height: 100%;
  width:100% ; */
  padding-right: 10px;
  background-color:#396b8c;
  margin: 1rem 0;
}

input:focus {
  border-color: dodgerblue;
  padding: 0.5rem 0.5rem;
  border-radius:10px;
}
input {
  border: 1px solid black; 
  padding:0.5rem; 
  border-radius:1rem;
  margin: 0 auto;
}
input:hover{
  border-color:lightblue;
 padding:0.5rem;
  padding:0.5rem;
}
.block1{
  margin: 5rem auto; 
   display: flex;
  justify-content: center;
  align-items: center; 
   width: 100%;
   font-size:30px;
   /* height:100px; */
   /* border:5px solid black; */
   background-color:white;
 }
  h1{
   /* display:flex;
   justify-content: center;
   align-items:center; */
   text-align: center;
   border:3px solid #396b8c;
   padding:2rem;
   margin: 2rem auto;
   /* width: 700px; */
   border-left:none;
   border-right: none;
   border-top: none; 
   color:#396b8c;
 } 
 .sentence{
   display:flex;
     justify-content: center;
     align-items: center;
    text-align: center; 
      width:50%;
       font-size:2rem;
   background-color:#396b8c;
 }
 .lastblock{
   display:flex;
   justify-content: center;
   align-items: center;
    width: 100%;
   background-color: #396b8c;
 
 } 
 .drop-downfirst{
    /* height:70px;  */
   /* background-color:red; */
   border: 2px solid white;
   width: 100%;
   /* margin-bottom:0.7rem 0; */
 }  
 
 .drop-downfirst{
   /* width: 400px; 
   height: 200px; */
   margin-top:-10px;  
   position:absolute; 
    left: 100%; 
   background-color:white;
   display:none;
   border: 1px solid gray;
   transition: all .5s ease;
   /* gap: 2rem; */
   
 }
 .drop-link{
   display:flex;
   justify-content: start;
   align-items: start;
   /* height:300px; */
   /* gap:3rem; */
   color: black;
   width:100%;
   border: 2px solid white;
    padding:1rem;
   /* padding-bottom:1rem; */ 
  } 
 .drop-link:hover{
   position: relative;
   color: #00b2ff;
   left: 10px;
 }
 .drop-down-1:hover .drop-downfirst{
   color:red;
   display:initial;
   /* border-radius:10px ; */
   padding: 0.5rem 1.5rem;
   /* margin: 0.5rem 0.5rem; */
   /* color:red; */
 
   transition: all .5s ease;
   box-shadow: 0.5rem;
   gap:4rem;
 }
 .icon{
  /* display:flex; */
   /* padding-right:3rem; */
   border: 1px solid #396b8c;
   /* width:20px;  */
   /* margin: 2rem 0; */
   padding:1rem 0.5rem;
   /* padding-bottom:3rem; */
   /* padding-top:2rem ; */
 }
 /* .nav-link-1{
   display:flex;
   align-items:center;
   justify-content: center;
   border: 2px solid #396b8c;
 } */
 .open-icon{
   position: absolute;
   left:190px;
   /* padding-left:3rem;  */
 }
 .icon-2{ 
 display:flex;
 justify-content: space-between;
 
 }
 .sentence{
    display: flex;
    justify-content: center;
    align-items: center;
     text-align: center; 
    background-color:#396b8c;
  }
   .lastblock{
     display:flex;
    justify-content: center;
    align-items: center; 
    height:20%; 
    padding: 2rem;
    background-color:#396b8c;
  
  } 
.information{
  display:flex;
  align-items: center;
  justify-content: center;
    width: 100%;
    height: 500px;
    background-color:red;

  }
.imag-girl{
  width: 100%;
  height: 400px;
  background-color:white;
}
.No-information>p,h1{
  display:flex;
  justify-content: center;
  align-items: center;;
  font-size:3.5rem;
  padding: 1rem 0;

}
.nav-link:hover > a {
  color: #00b2ff;
 }
.active{
  color: #00b2ff !important;
}
